{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %}About - 21 Spokes{% endblock %}

{% block body_base %}


<div class="container">

  <div class="page-header">
    <h1>About</h1>
  </div>

  <div class="row">

    <div class="col-md-6">

      <h2>Our mission</h2>

      <br>

      <p>21 Spokes wants to get more people riding great bikes.</p>

      <p>We're helping commuters all over London discover the best second-hand bikes available and serve them with personal recommendations.</p>

      <ul>
        <li>We make it easy to find a bike that fits your size and personality.</li>
        <li>Online marketplaces can be daunting, our curated selection cuts through the noise.</li>
        <li>And if nothing feels quite right, drop us an email and we'll provide a more tailored recommendation.</li>
      </ul>

    </div>

    <div class="col-md-6">

      <h2>Who are we?</h2>

      <br>

      <p>21 Spokes was started by Calum and Andrew. They were helping a couple of friends choose bikes and ended up bombarding them with link after link of interesting finds from eBay. They were trawling through pages of listings to find second-hand gems  to recommend.</p>

      <p>With a few happy friends now cycling, they want to help others discover used bikes with a bit of character and personality. They're usually cheaper too. So this is our first attempt at bringing friendly recommendations to the masses. </p>

      <p><a data-toggle="modal" href="#contact_modal">Contact us</a> through this site. We love helping customers find the perfect bike or going for coffee.</p>

    </div>

</div>
<!-- /.container -->
{% endblock %}