{% extends "base.html" %}

{% load staticfiles %}
{% load url from future %}

{% block head_title %}{{ bike.title }} - 21 Spokes{% endblock %}
{% block facebook_title %}{{ bike.title }} - 21 Spokes{% endblock %}
{% block facebook_description %}21 Spokes help you find the perfect bike.{% endblock %}
{% block facebook_url %}{% url 'detail' bike.pk %}{% endblock %}
{% block facebook_image %}{{ bike.primary_img_url }}{% endblock %}

{% block body_base %}
<div class="container">

  <div class="page-header">
    <h1>{{ bike.title }}</h1>
  </div>

  <br>

  <!-- Main Content -->
  <div class="row">

    <!-- Left Column -->
    <div class="col-md-8">

      <!-- Bike Pictures  -->
      

          <!-- Carousel -->
          <div id="bike-carousel" class="carousel" style="margin-bottom: 20px; cursor: pointer;" onclick="$(this).carousel('next');">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              {% for img_url in bike.img_urls %}
              <li data-target="#bike-carousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %}class="active"{% endif %}></li>
              {% endfor %}
            </ol>
            <!-- /Indicators -->

            <!-- Slide wrapper -->
            <div class="carousel-inner">
              {% for img_url in bike.img_urls %}
              <div class="{% if forloop.first %}active {% endif %}item">
                <img src="{{ img_url }}" class="img-responsive" style="width: 100%;" />
              </div>
              {% endfor %}
            </div>
            <!-- /Slide wrapper -->
          </div>
          <!-- / Carousel -->

        



      <!-- Bike Details Panel -->
      <div class="panel panel-default" style="min-height: 200px;">
        <div class="panel-body">

          <ul class="nav nav-tabs" id="bike-details-tabs">
            <li class="active"><a href="#bike-details-tabs-fit" data-toggle="tab">Fit</a></li>
            <li><a href="#bike-details-tabs-details" data-toggle="tab">Location and Specifications</a></li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane active" id="bike-details-tabs-fit">

              {% comment %}
              <br>

              <div class="row">

                <div class="col-md-2">
                  <h4>YOU</h4>
                </div>

                <div class="col-md-10">

                  <h4>Your height is <strong>5 feet 11 inches</strong></h4>

                </div>

              </div>
              {% endcomment %}

              <br>

              <div class="row">

                <div class="col-md-2">
                  <h4>BIKE</h4>
                </div>

                <div class="col-md-10">

                  <h4>Fits riders from <strong>{{ bike.rider_height_lower_feet }} feet {% if bike.rider_height_lower_inches > 0 %}{{ bike.rider_height_lower_inches }} inches{% endif %}</strong> up to <strong>{{ bike.rider_height_upper_feet }} feet {% if bike.rider_height_upper_inches > 0 %}{{ bike.rider_height_upper_inches }} inches{% endif %}</strong></h4>

                </div>

              </div>

              <br>

              <div class="row">

                <div class="col-md-2">
                  <h4>GOOD<br>FOR</h4>
                </div>

                <div class="col-md-10">

                  <ul class="list-inline">

                    {% for activity in bike.activities %}
                    <li style="padding-top: 5px; padding-bottom: 5px">
                      <span class="label label-success" style="font-size: 14px;">
                        <span class="glyphicon glyphicon-ok"></span>
                        &nbsp;&nbsp;
                        {{ activity }}
                      </span>
                    </li>
                    {% endfor %}

                  </ul>

                </div>

              </div>

              {% if bike.comments %}

              <br>

              <div class="row">

                <div class="col-md-2">
                  <h4>OUR<br>THOUGHTS</h4>
                </div>

                <div class="col-md-10">
                  
                    <h4><q>{{ bike.comments }}</q></h4>

                    {% if bike.pk|divisibleby:2 %}
                      <p>Andrew, 21 Spokes Co-Founder</p>
                    {% else %}
                      <p>Calum, 21 Spokes Co-Founder</p>
                    {% endif %}

                </div>

              </div>

              {% endif %}

            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="bike-details-tabs-details">

              <br>

              <div class="row">

                <div class="col-md-2">
                  <h4>LOCATION</h4>
                </div>

                <div class="col-md-10">
                  <h4>Within <strong>20 km</strong> of Big Ben.</h4>
                </div>

              </div>

              <br>

              <div class="row">

                <div class="col-md-2">
                  <h4>SPECS</h4>
                </div>

                <div class="col-md-10">
                    <p>
                      <a class="btn btn-success" type="button" href="{{ bike.buy_url }}">View Specifications</a>
                    </p>
                </div>

              </div>

            </div>
            <!-- /.tab-pane -->

          </div>
          <!-- /.tab-content -->

        </div> <!-- /.panel-body -->
      </div><!-- /.panel -->

    </div>
    <!-- / Left Column -->

    <!-- Right Column -->
    <div class="col-md-4">

      <div class="panel panel-default">

        <div class="panel-body" style="text-align: center;">

          <br><br><br>

          <p><a class="btn btn-lg btn-success" type="button" href="{{ bike.buy_url }}">Buy Now</a></p>

          <br>
          
          <h3>£{{ bike.price }}</h3>

          <h3>from ebay.com</h3>

          <br><br>

        </div>
   
      </div>

      <div class="panel panel-default">

        <div class="panel-body" style="text-align: center;">

          <br>

          <h3>Want a more personal recommendation?</h3>

          <br>

          <div>
            <div class="col-lg-10 col-lg-offset-1">

              {% include "_google_form.html" with google_form_id="1TFt6J48Tfr1Z9eytYZCOsRTT6Q2ZmIFgdSBBD7ITmOM" extra="class='form-horizontal' role='form'" onload="$('#recommendation-email').val('').attr('placeholder', 'we\'ll be in touch soon!');" %}

                <input name="entry.998103800" type="hidden" value="bike_id,email" />

                <input name="entry.573913575" type="hidden" value="{{ bike.pk }}" />

                <div class="input-group">

                  <input name="entry.565907830" id="recommendation-email" type="email" class="form-control" placeholder="your email" required>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">submit</button>
                  </span>

                </div><!-- /input-group -->

              </form>              
            </div>
          </div>

          <br><br><br>

          <h3>Perfect for a friend?</h3>

          <br>

          <p>
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="display: inline-block;">
              <a class="addthis_button_facebook"></a>
              <a class="addthis_button_twitter"></a>
              <a class="addthis_button_pinterest_share"></a>
              <a class="addthis_button_google_plusone_share"></a>
              <a class="addthis_button_compact"></a>
            </div>
          </p>

          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5269ad96755a3f58"></script>

          <br>

        </div>
   
      </div>

    </div>
    <!-- / Right Column -->

  </div>
  <!-- / Main Content -->

</div><!-- /.container -->
{% endblock %}

{% block extra_script %}
<script>
  jQuery(document).ready(function($) {

    $('#bike-carousel').carousel({
      // Do not automatically cycle.
      interval: false
    });

  });
</script>
{% endblock %}
