{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %}{{ bike.title }}{% endblock %}

{% block body_base %}
<div class="container">

  <h3>Purple Vintage Road Bike</h3>

  <br>

  <!-- Main Content -->
  <div class="row">

    <!-- Left Column -->
    <div class="col-md-8">

      <!-- Bike Pictures Panel -->
      <div class="panel panel-default">
        <div class="panel-body">

          <!-- Carousel -->
          <div id="bike-carousel" class="carousel slide">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#bike-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#bike-carousel" data-slide-to="1"></li>
              <li data-target="#bike-carousel" data-slide-to="2"></li>
              <li data-target="#bike-carousel" data-slide-to="3"></li>
            </ol>
            <!-- /Indicators -->

            <!-- Slide wrapper -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="{% static "img/1-500.jpg" %}" class="img-rounded img-responsive" style="width: 100%;"
                />
              </div>
              <div class="item">
                <img src="{% static "img/2-500.jpg" %}" class="img-rounded img-responsive" style="width: 100%;"
                />
              </div>
              <div class="item">
                <img src="{% static "img/3-500.jpg" %}" class="img-rounded img-responsive" style="width: 100%;"
                />
              </div>
              <div class="item">
                <img src="{% static "img/4-500.jpg" %}" class="img-rounded img-responsive" style="width: 100%;"
                />
              </div>
            </div>
            <!-- /Slide wrapper -->
          </div>
          <!-- / Carousel -->

        </div> <!-- /.panel-body -->
      </div><!-- /.panel -->



      <!-- Bike Details Panel -->
      <div class="panel panel-default">
        <div class="panel-body">

          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fit">Fit</a></li>
            <li><a href="#specifications">Specifications</a></li>
            <li><a href="#location">Location</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="fit">

              <br>

              <div class="row">

                <div class="col-md-2">
                  <img class="img-circle" src="http://placehold.it/100x100">
                </div>

                <div class="col-md-10">

                  <br>

                  <h4>Your height is <strong>5 feet 11 inches</strong></h4>

                </div>

              </div>

              <br>

              <div class="row">

                <div class="col-md-2">
                  <img class="img-circle" src="http://placehold.it/100x100">
                </div>

                <div class="col-md-10">

                  <br>

                  <h4>Fits riders from <strong>{{ bike.rider_height_lower_feet }} feet {% if bike.rider_height_lower_inches > 0 %}{{ bike.rider_height_lower_inches }} inches{% endif %}</strong> up to <strong>{{ bike.rider_height_upper_feet }} feet {% if bike.rider_height_upper_inches > 0 %}{{ bike.rider_height_upper_inches }} inches{% endif %}</strong></h4>

                </div>

              </div>

              <br>

              <div class="row">

                <div class="col-md-2">
                  <img class="img-circle" src="http://placehold.it/100x100">
                </div>

                <div class="col-md-10">

                  <h4>Good for ...</h4>

                  <br>

                  <ul class="list-inline">

                    <li><span class="label label-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Commuting</span></li>
                    <li><span class="label label-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Going to the shops</span></li>
                    <li><span class="label label-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Low maintance</span></li>
                    <li><span class="label label-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Checked not stolen</span></li>
                    <li><span class="label label-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Looking like a boss</span></li>

                  </ul>

                </div>

              </div>

              <br>

              <div class="row">

                <div class="col-md-2">
                  <img class="img-circle" src="http://placehold.it/100x100">
                </div>

                <div class="col-md-10">

                    <br>
                  
                    <h4><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</q></h4>

                    <p>Calum, Decidor Co-Founder</p>

                </div>

              </div>

            </div>
            <div class="tab-pane" id="specifications"></div>
          </div>

        </div> <!-- /.panel-body -->
      </div><!-- /.panel -->

    </div>
    <!-- / Left Column -->

    <!-- Right Column -->
    <div class="col-md-4">

      <div class="panel panel-default">

        <div class="panel-body" style="text-align: center;">

          <br><br><br>

          <p><a class="btn btn-lg btn-success" type="button" href="http://www.ebay.co.uk/itm/FALCON-58CM-VINTAGE-ROAD-BIKE-REYNOLDS-531-5-SPEED-PURPLE-/300997251850">Buy Now</a></p>

          <br>
          
          <h3>£{{ bike.price }}<br>from ebay.com</h3>

          <br><br><br>

        </div>
   
      </div>

      <div class="panel panel-default">

        <div class="panel-body" style="text-align: center;">

          <br>

          <h3>Want a more personal recommendation?</h3>

          <br>

          <div>
            <div class="col-lg-8 col-lg-offset-2">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="your email">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">submit</button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>

          <br><br><br>

          <h3>Perfect for a friend?</h3>

          <br>

          <p>
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="display: inline-block;">
              <a class="addthis_button_facebook"></a>
              <a class="addthis_button_twitter"></a>
              <a class="addthis_button_pinterest_share"></a>
              <a class="addthis_button_google_plusone_share"></a>
              <a class="addthis_button_compact"></a>
            </div>
          </p>

          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5269ad96755a3f58"></script>

          <br>

        </div>
   
      </div>

    </div>
    <!-- / Right Column -->

  </div>
  <!-- / Main Content -->

</div><!-- /.container -->
{% endblock %}

{% block extra_script %}
<script>
  jQuery(document).ready(function($) {

  $('#bike-carousel').carousel({
    // Do not automatically cycle.
    interval: false;
  });

  //Handles the carousel thumbnails
  $('[id^=carousel-selector-]').click( function(){
      var id_selector = $(this).attr("id");
      var id = id_selector.substr(id_selector.length -1);
      var id = parseInt(id);
      $('#bike-carousel').carousel(id);
  });

  });
</script>
{% endblock %}