{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %}21 Spokes{% endblock %}

{% block extra_head %}
<script src="{% static "angular/js/angular.js" %}"></script>
<script src="{% static "angular/js/angular-resource.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/home.js" %}"></script>
{% endblock %}

{% block body_base %}

<!-- Angular active within this div -->
<div ng-app="pdm" ng-controller="BikeSearchController">

  <div class="jumbotron" style="background-image:url({% static "img/biketailor-header.jpg" %}); background-size: cover; background-positon: right bottom; min-height: 300px; padding: 60px 50px 50px 50px; text-align: center;">

    <div class="container">

      <h1 style="color: #fff;">Find the perfect bike for you</h1>

      <h2 style="color: #fff;">Get started by telling us more about yourself</h2>

      <br>

      {# Need to reset base font size here, as jumbotron changes it and form elemnts rely on it #}
      <form class="form-inline" role="form" style="font-size: 14px; background: rgb(0, 0, 0); box-shadow: 0 0 5px rgba(0,0,0,0.5); border-radius: 3px; border: 1px solid rgba(0,0,0,0.8); padding: 10px; display: inline-block;">

        <div class="form-group" style="margin: 0 10px 0 10px; color: white; font-size: 24px; line-height: 1.33">
          I am
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg" style="width: 100px;">
            <input id="riderHeightFeet" ng-model="riderHeightFeet" type="text" class="form-control" ng-change="filteringBegun=true;">
            <span class="input-group-addon">ft</span>
          </div>
        </div>

        &nbsp;

        <div class="form-group">
          <div class="input-group input-group-lg" style="width: 100px;">
            <input ng-model="riderHeightInches" type="text" class="form-control" ng-change="filteringBegun=true;">
            <span class="input-group-addon">in</span>
          </div>
        </div>

        <div class="form-group" style="margin: 0 10px 0 10px; color: white; font-size: 24px; line-height: 1.33">
          tall and a
        </div>

        <div class="btn-group" data-toggle="buttons" style="margin-right: 10px;">
          <label class="btn btn-primary btn-lg" ng-click="setRiderMale(); filteringBegun=true;">
            <input type="radio">Guy
          </label>
          <label class="btn btn-primary btn-lg" ng-click="setRiderFemale(); filteringBegun=true;">
            <input type="radio">Girl
          </label>
        </div>

      </form>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.jumbotron -->

  <div class="container">

    <!-- Bike Tiles -->
    <div class="row">

      <div ng-repeat="bike in bikes | filter:displayBike" class="col-sm-6 col-md-4 bike-tile"> 

        <div class="thumbnail" style="border: 0;">
          
          {% verbatim %}
          
            <a href="bikes/{{ bike.id }}/">

              <img src="{{ bike.primaryImgUrl }}">

            </a>
          

          <div class="caption">
            <h4>{{ bike.title }}</h4>

            <h5>£{{ bike.price }} from ebay.com</h5>
          </div>
          {% endverbatim %}

        </div>

      </div>    

    </div>
    <!-- /Bikes Tiles -->

  </div>
  <!-- /.container -->

</div>
<!-- / ng-controller="BikeSearchController" -->
{% endblock %}

{% block extra_script %}
<script>
  $( document ).ready(function() {
   
    $( "#riderHeightFeet" ).focus()
   
  });
</script>
{% endblock %}