/*body {
    padding-top: 50px;
}*/

q {
    quotes: '“' '”' '‘' '’';
    font-style:italic;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

.bike-tile .thumbnail {
    border: none;
}

.bike-tile .caption {
    border: solid #dddddd;
    border-width: 0 1px 1px 1px;
    padding: 10px;
    text-align: center;
}

.bike-tile img {
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.bike-tile:hover .caption {
    color: white;
    /* @brand-primary */
    background: #1e6907;
    border-color: #1e6907;
}

/* Based on http://antjanus.com/blog/uncategorized/make-bootstrap-3-theme-proper-way/ */
.navbar-transparent {
    background: transparent;
    border: 0;
    margin-bottom: 0;
}

.navbar-transparent a {
    color: #fff;
}

/*.jumbotron {
    margin-top: -50px;
}*/