<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="img/favicon.png">

        <title>Purple Vintage Road Bike</title>

        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles  -->
        <link href="css/site.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="html5shiv/js/html5shiv.js"></script>
            <script src="respond/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="home.html">Decidor</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="about.html">About</a></li>
                <li><a href="feedback.html">Feedback</a></li>
                <li><a href="blog.html">Blog</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div><!--/.navbar-->

        <div class="container">

            <h3>Purple Vintage Road Bike</h3>

            <!-- Main Content -->
            <div class="row">

                <!-- Left Column -->
                <div class="col-md-8">

                    <!-- Carousel -->
                    <div id="bike-carousel" class="carousel slide">

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#bike-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#bike-carousel" data-slide-to="1"></li>
                            <li data-target="#bike-carousel" data-slide-to="2"></li>
                            <li data-target="#bike-carousel" data-slide-to="3"></li>
                        </ol>
                        <!-- /Indicators -->

                        <!-- Slide wrapper -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="img/1-500.jpg" class="img-rounded img-responsive" style="width: 100%;"
                                />
                            </div>
                            <div class="item">
                                <img src="img/2-500.jpg" class="img-rounded img-responsive" style="width: 100%;"
                                />
                            </div>
                            <div class="item">
                                <img src="img/3-500.jpg" class="img-rounded img-responsive" style="width: 100%;"
                                />
                            </div>
                            <div class="item">
                                <img src="img/4-500.jpg" class="img-rounded img-responsive" style="width: 100%;"
                                />
                            </div>
                        </div>
                        <!-- /Slide wrapper -->
                    </div>
                    <!-- / Carousel -->

                </div>
                <!-- / Left Column -->
                
                <!-- Right Column -->
                <div class="col-md-4">
                    <div style="border: black 1px solid; border-radius: 20px; padding: 20px; text-align: center;">
                         <h1 class="text-info">£{{ bike.price }}</h1>
                         <h3>{{ bike.type }} / {{ bike.frame_size }} cm</h3>
             <a class="btn btn-lg btn-success" type="button" href="#contact-seller"
                        data-toggle="modal">Buy Now</a>
             <a class="btn btn-lg btn-success" type="button"
                        href="#contact-seller" data-toggle="modal">Arrange Viewing</a>
                    </div>
                    <div style="margin-top: 1em; border: black 1px solid; border-radius: 20px; padding: 20px; text-align: center;">
                        <img src="{{ STATIC_URL }}img/users/{{ bike.seller.id }}" class="img-rounded img-responsive"
                        style="width: 250px;" />
                         <h1>{{ bike.seller.name|capfirst }}</h1>
             <a class="btn btn-lg btn-block btn-primary" type="button" href="#contact-seller"
                        data-toggle="modal">Contact Me</a>
                        <table class="table table-bordered" style="margin-top: 20px;">
                            <caption>Social Media</caption>{% if bike.seller.has_facebook %}
                            <tr>
                                <td style="width: 30%;">Facebook</td>
                                <td><strong>{{ bike.seller.facebook_friends }} friends</strong>
                                </td>
                            </tr>{% endif %} {% if bike.seller.has_linkedin %}
                            <tr>
                                <td>Linkedin</td>
                                <td><strong>{{ bike.seller.linkedin_connections }} connections</strong>
                                </td>
                            </tr>{% endif %}</table>
                        <table class="table table-bordered" style="margin-top: 20px;">
                            <caption>Forum Memberships</caption>{% if bike.seller.has_road %}
                            <tr>
                                <td style="width: 30%;">road.cc</td>
                                <td><strong>Since May 2007, 43 posts</strong>
                                </td>
                            </tr>{% endif %} {% if bike.seller.has_single_track %}
                            <tr>
                                <td>SingleTrack</td>
                                <td><strong>Since January 2010, 22 posts</strong>
                                </td>
                            </tr>{% endif %}</table>
                    </div>
                </div>
                <!-- / Right Column -->
</div>
<!-- / Main Content -->

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        <script src="jquery/js/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>

        <script>
            jQuery(document).ready(function($) {

            $('#bike-carousel').carousel({
                // Do not automatically cycle.
                interval: false;
            });

            //Handles the carousel thumbnails
            $('[id^=carousel-selector-]').click( function(){
                    var id_selector = $(this).attr("id");
                    var id = id_selector.substr(id_selector.length -1);
                    var id = parseInt(id);
                    $('#bike-carousel').carousel(id);
            });

            });
        </script>
    </body>
</html>